# Node
node_modules/
.next/

# Env
.env*
config/gcp-key.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
out/
dist/

# IDE
.vscode/
.idea/
.DS_Store
*.swp

# Docs
/docs/

# Test
coverage/
.jest/
.jest-cache/
.jest-test-results.json

# Misc
*.local
*.log
*.tmp
*.bak

# OS
Thumbs.db
