@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Lato:wght@400;700&display=swap');

:root {
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Lato', sans-serif;
  --color-background: #000000;
  --color-text: #E0E0E0;
  --color-sender: #B0B0B0;
  --card-body-bg: #2A2A2A;
  --chatbox-background: #333333;
  --user-message-bg: #4A4A4A;
  --gandalf-message-bg: #5A5A5A;
  --button-bg: #23333b;
  --button-hover-bg: #455A64;
  --disabled-bg: #3E3E3E;
  --disabled-text: #9E9E9E;
  --send-button-bg: #1a1a1a;
  --send-button-hover-bg: #5a5b5c;
  --send-button-text: #FFFFFF;
  --input-bg: #2A2A2A;
  --input-text: #E0E0E0;
  --input-placeholder: #9E9E9E;
  --scrollbar-bg: #4A4A4A;
  --scrollbar-thumb: #6C6C6C;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  font-size: 1.125rem;
  background-color: var(--color-background) !important;
  color: var(--color-text);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.chat-box {
  width: 100%;
  max-width: 800px;
  background-color: var(--chatbox-background);
  padding: 1rem;
  margin: 0 auto;
  overflow-y: scroll;
  height: 100%;
}

.chat-box::-webkit-scrollbar {
  width: 12px;
}

.chat-box::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-bg);
}

@media (max-width: 576px) {
  .chat-box {
    padding: 1rem;
    width: 100%;
  }

  .input-group {
    flex-direction: column;
    width: 100%;
  }

  .input-group .form-control,
  .input-group-append {
    width: 100%;
  }

  .input-group-append .btn {
    width: 100%;
  }

}

.spinner-container {
  height: 42px;
  min-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-message,
.gandalf-message {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.user-message {
  background-color: var(--user-message-bg);
  align-self: flex-end;
}

.gandalf-message {
  background-color: var(--gandalf-message-bg);
  align-self: flex-start;
}

.user-sender,
.gandalf-sender {
  font-weight: bold;
  color: var(--color-sender);
  margin-bottom: 5px;
}

button[disabled] {
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
}

.card-footer {
  width: 100%;
  margin: 10
}

.input-group {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.input-group .form-control {
  width: 100%;
  background-color: var(--input-bg);
  color: var(--input-text);
  border: none;
  padding: 1rem;
  font-size: 1.25rem;
  outline: none;
}

.input-group .form-control::placeholder {
  color: var(--input-placeholder);
}

.input-group-append {
  display: flex;
}

.input-group-append .btn {
  flex: 0 0 auto;
  background-color: var(--send-button-bg);
  color: var(--send-button-text);
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

.input-group-append .btn:hover {
  background-color: var(--send-button-hover-bg);
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

/* Added styles for the toggle switch */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.toggle-label {
  margin-left: 0.5rem;
  line-height: 20px;
  color: var(--color-text);
}

.react-switch {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

.react-switch-handle {
  background-color: var(--send-button-hover-bg) !important;
}

.react-switch-checked {
  background-color: var(--send-button-bg) !important;
}

.react-switch-unchecked {
  background-color: var(--disabled-bg) !important;
}