@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

:root {
  --font-primary: 'Alegreya', serif;
  --font-gandalf: 'Lora', serif;

  --color-background: #0E131F;
  --color-text: #FEFBF3;

  --chatbox-background: #162A3A;
  --user-message-bg: #5583b4;
  --gandalf-message-bg: #9dbdce;

  --button-bg: #34515E;
  --button-hover-bg: #56707C;

  --disabled-bg: #273D49;
  --disabled-text: #5B6975;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.2;
}

.container {
  max-width: 600px;
}

.card,
.disclaimer,
.ai-disclaimer {
  max-width: 90%;
}

h1 {
  font-size: var(--heading-font-size);
}

.chatbox {
  background-color: var(--chatbox-background);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.chatbox-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 600px;
  overflow-y: auto;
}

.user-message,
.gandalf-message {
  padding: 10px;
  border-radius: 4px;
}

.user-message {
  background-color: var(--user-message-bg);
  text-align: right;
}

.gandalf-message {
  background-color: var(--gandalf-message-bg);
  text-align: left;
  font-family: var(--font-gandalf);
}

.chatbox input.form-control,
.chatbox button,
.chatbox .btn-primary,
.chatbox .btn-secondary {
  padding: 10px;
  border: none;
  color: white;
  background-color: var(--button-bg);
}

.input-group .btn {
  margin-left: 10px;
}

.chatbox button:hover,
.chatbox .btn-primary:hover,
.chatbox .btn-secondary:hover {
  background-color: var(--button-hover-bg);
}

.chatbox button[disabled],
.chatbox input[disabled] {
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
}

.user-sender,
.gandalf-sender {
  font-weight: bold;
  font-size: x-large;
}

.ai-disclaimer {
  font-size: 1em;
  padding: 1.0em;
  font-style: italic;
  color: #AFBFBF;
}
